<% if @user.id == current_user.id %>
    <% if @user.display_name == @user.username %>
        *Your Display Name Has Been Defaulted to Your Username*
    <% end %>
    <%= button_to "Edit Profile", edit_user_path(@user), method: :get %>
<% end %>


<%= render partial: "subscriptions/index", locals: {subs: current_user.subscriptions} %>

<h2>All Posts: </h2>
<% current_user.posts.each do |post| %>
    <%= render partial: 'posts/show', locals: {post: post} %>
<% end %>

<br>
<%= button_to "Create Group", new_user_group_path(@user), method: :get %>
<%= @user.follows.count %> <%= link_to "Following", user_followers_path(@user) %>
<%= UserHelper.user_followers(@user).follows.count %> <%= link_to "Followers", user_followers_path(UserHelper.user_followers(@user), session[:follower] = true) %>
or <%= button_to "Follow More", user_followers_add_path(@user), method: :get %>


