<% if @user.id == current_user.id %>
    <% if @user.display_name == @user.username %>
        <%= render 'edit' %>
        *Your Display Name Has Been Defaulted to Your Username*
    <% else %>
        <%= button_to "Edit Profile", edit_user_path(@user), method: :get %>
    <% end %>
<% end %>


<h2> Your Subscribed Groups: </h2>
<% if @user.subscriptions.empty? %>
    You are not subscribed or invited to any groups!
<% end %>


<% @user.subscriptions.each do |sub| %>
    <% if sub.confirmed %>
        <div>
            <%= link_to group_name(sub), group_path(sub.group_id)%> <%= group_bio(sub) %>
            Users: <% group_users(sub).each do |user| %>
                <%= user.username %>
            <% end %>
        </div>            
    <% end %>
<% end %>


<h2>Group Invitations: </h2>
<% invitations(@user).each do |inv| %>
    <%= group_name inv %> <%= group_bio inv %>
    Users: <% group_users(inv).each do |user| %>
        <%= user.username %>
    <% end %>
    <br>
<% end %>


<h2>All Posts: </h2>
<%= render 'posts/index', locals: {all_posts: @user.posts} %>

<br>
<%= button_to "Create Group", new_user_group_path(@user), method: :get %>
<%= @user.follows.count %> <%= link_to "Following", user_followers_path(@user) %>
<%= UserHelper.user_followers(@user).follows.count %> <%= link_to "Followers", user_followers_path(UserHelper.user_followers(@user), session[:follower] = true) %>
or <%= button_to "Follow More", user_followers_add_path(@user), method: :get %>


