<!DOCTYPE html>
<html>
  <head>
    <title>RailsFinalAssessment</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    
  </head>

  <body>
    <% if user_signed_in? %>
      welcome <%= current_user.username %>
      <%= button_to "Logout", destroy_user_session_path, method: :delete %>
    <% end %>
    <%= yield %>
  </body>
</html>
